<label>Pricing</label>
{{input type="text" value=pricing}}
<br>

<label>License</label>
{{input type="text" value=license}}
<br>

<label>Format</label>
{{input type="text" value=format}}
<br>

<button {{action "apply"}}>Apply Filters</button>
